@import "./Search/search.module.css";

aside.gridChild nav .active {
  background-color: var(--color-focus);
}
aside.gridChild nav button:hover {
  background-color: var(--color-hover);
}

.gridContainer {
  display: grid;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  grid-template-rows: 3.5rem 1fr 2.5rem;
  grid-template-columns: max-content 1fr;
}
header.gridChild,
aside.gridChild,
footer.gridChild {
  position: sticky;
  z-index: 2;
}
header.gridChild,
footer.gridChild {
  width: 100%
}
aside.gridChild nav button,
aside.gridChild nav a,
aside.gridChild nav,
aside.gridChild,
header.gridChild > section,
header.gridChild,
footer.gridChild {
  background-color: var(--color-primary);
  color: var(--color-primary-inverse);
  caret-color: var(--color-primary-inverse);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
header.gridChild {
  grid-area: header;
  position: -webkit-sticky;
  /* position: sticky; */
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-hover);
  
}
header.gridChild > section {
  flex: 1 1 fit-content;
  align-items: center;
}
header.gridChild > section:first-of-type {
  justify-content: flex-start;
  justify-self: flex-start;
}
header.gridChild > section:last-of-type {
  justify-content: flex-end;
  justify-self: flex-end;
}
header.gridChild .siteName {
  cursor: context-menu;
}

aside.gridChild {
  grid-area: nav;
  top: 3.69rem;
  position: -webkit-sticky;
  /* position: sticky; */
  box-sizing: border-box;
  min-height: calc(100vh - 3.5rem - 2.5rem - 0.6rem);
  height: calc(100vh - 3.5rem - 2.5rem - 0.4rem);
  max-height: calc(100vh - 3.5rem - 2.5rem - 0.2rem);
  overflow: auto;
  gap: 4rem;
  padding: 0 4px;
  border-right: 1px solid var(--color-hover);
}
aside.gridChild,
aside.gridChild nav {
  flex-direction: column;
}
aside.gridChild nav {
  align-items: flex-start;
  width: 100%;
}

aside.gridChild nav a,
aside.gridChild nav button {
  background-color: inherit;
  color: inherit;
  border: 0;
  padding: 4px 8px 4px 0;
  font-size: 1.1em;
  min-height: 50px;
  border-bottom: 1px solid var(--color-hover);
  column-gap: 1ch;
  justify-content: flex-start;
  width: 98%;
}

.icon {
  width: 32px;
}
main.gridChild {
  grid-area: main;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 88vw;
  align-items: flex-start;
}
main.gridChild > .cardContainer {
  box-sizing: border-box;
  flex: 1 1
    calc((100% / (var(--items-per-row)) - (2 * (var(--items-margin-x) + 4px))));
  aspect-ratio: 4/3;
  margin: var(--item-margin-y) var(--item-margin-x);
  justify-self: flex-start;
  align-self: center;
  min-width: calc(25.5rem - var(--item-margin-x));
  max-width: calc(31.5rem - var(--item-margin-x));
  max-height: 18.9rem;
  border: 1px solid red;
  
}
footer.gridChild {
  grid-area: footer;
  position: -webkit-sticky;
  /* position: sticky; */
  bottom: 0;
  left: 0;
  justify-content: center;
  border-top: 1px solid var(--color-hover);
}
.btnHamburger {
  display: none;
  width: 2.5rem;
}
@media screen and (max-width: 120em) {
  main.gridChild {
    --items-per-row: 4;
    --item-margin-y: 1ch;
    --item-margin-x: 0.5ch;
  }
  main.gridChild .cardContainer {
    min-width: calc(21.5rem - var(--item-margin-x));
    max-width: calc(25.5rem - var(--item-margin-x));
  }
}
@media screen and (max-width: 90em) {
  main.gridChild {
    --items-per-row: 3;
  }
}
header.gridChild .btnHamburger {
  color: var(--color-primary);
  background-color: var(--color-primary-inverse);
}
@media screen and (max-width: 60em) {
  :root {
    --color-focus: inherit;
  }
  main.gridChild {
    --items-per-row: 3;
    max-width: 96vw;
  }
  main.gridChild > .cardContainer {
    min-width: calc(18.5rem - var(--item-margin-x));
  }
}

@media screen and (max-width: 60em) and (min-width: 40em) {
  .gridContainer {
    grid-template-columns: 6rem 1fr;
  }
  aside.gridChild {
    font-size: 0.6em;
    flex-direction: column;
    padding: 0;
  }
  aside.gridChild nav a,
  aside.gridChild nav button {
    margin: 4px 0;
    flex-direction: column;
  }
  aside.gridChild nav a .icon,
  aside.gridChild nav button .icon {
    font-size: 1.75em;
  }
}
@media screen and (max-width: 40em) {
  .gridContainer {
    grid-template-areas: "header" "main" "footer";

    grid-template-columns: 1fr;
  }
  aside.gridChild {
    position: fixed;
    will-change: transform;
    min-width: 10em;
  }

  .show {
    transform: translateX(0%);
    transition: transform 0.5s ease-out;
  }
  .hide {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
  }
  .btnHamburger {
    display: initial;
  }
}

@media screen and (max-width: 25em) {
  main.gridChild {
    --items-per-row: 1;
    --item-margin-x: 0ch;
    padding: 0 4px;
    margin: 0;
  }
  main.gridChild > .cardContainer {
    /* flex: 1 1 calc((80% / (var(--items-per-row)))); */
    padding: 0;
    min-width: calc(18rem - var(--item-margin-x));
  }
}
